corner>=2.2.2
cycler>=0.11.0
dynesty>=2.1.1
iminuit>=2.11.1
jacobi>=0.9.2
matplotlib>=3.4.0,<3.8.0
numpy>=1.13.3
pandas<2
pebble>=4.6.0
psrqpy>=1.2.4
pulsar-spectra==2.1.0
rich>=13.3.5
scipy>=1.10.1
ultranest>=3.5.7